@import compass
@import susy

/* =============================================================================
   Kit mixins and styles to be @extend'ed
   ========================================================================== */

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
// $extra can be set to deal with element's padding if necessary
=hide-text-c($extra:0)
	display: inline-block
	text-indent: 120% + $extra
	white-space: nowrap
	overflow: hidden

=hide-visually($amount:9999px)
	position: absolute
	top: -$amount
	left: -$amount

.hidden
	display: none

=font-size-rem($rem)
	font-size: floor($px-base-font-size * $rem)
	font-size: #{$rem}rem

.small
	font-size: 75%