@import compass

/* BASIC BASE */

// very basic, non-project-specific styles and mixins for non-smartphones that are not media query-aware

=small
	font-size: 75%

//li
	margin: 1em 0
nav
	ul
		padding-left: 0
th, caption
	text-align: left
th, td
	vertical-align: top
	padding-right: 1em
img
	max-width: 100%
form
	ol
		list-style-type: none
		padding-left: 0
	li
		margin-bottom: 1em
	label
		display: block

@import basics