/* ========================================================================== */
/* Kit styles (some values may be overridden by project _base)                */

$set-html-base-font-size: false !default
$base-font-size: 16px !default

$set-html-baseline-grid: false !default
$baseline-grid-size: 20px !default

$font-stack-main: sans-serif !default

$color-background: white !default
$color-content: black !default
$color-anchor: blue !default

$break1: 40em !default
$break2: 80em !default

+set-html-base-font-size
+set-html-baseline-grid

// Not sure about using this globally yet
//*
//	+box-sizing(border-box)

body
	padding: 1em
	background-color: $color-background
	color: $color-content
	font-family: $font-stack-main

a
	color: $color-anchor
	&:focus
		outline: 0

img
	max-width: 100%

//section
	+pie-clearfix

th,
caption
	text-align: left

th,
td
	vertical-align: top
	padding-right: 1em

ul, ol
	padding-left: 0
	margin-left: 0
li
	margin-left: 1.5em

form
	margin: 1em 0
	ol
		list-style-type: none
		padding-left: 0
		margin: 0
	li
		margin-bottom: 1em
		margin-left: 0
fieldset
	margin: 0
label
	display: block
input[type=text],
input[type=password],
textarea
	+box-sizing(border-box)
	width: 100%
input,
textarea,
select,
button
	font-family: $font-stack-main
input[type=checkbox]
	margin-right: .5em

nav
	ul,
	ol
		padding-left: 0